body {
    font-family: 'Special Elite', cursive;
    background: #c5dffc
};

.header_div {
    background: white;
    color: rgb(44, 108, 145)
};

.main_div {
    background: #88b2d5;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;

};

.main_div label{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera {
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5 px 18px white
}

.main_div button {
    width: 310px;
    font-size: 16px;
    box-shadow:5px 5px 18px white;
    border: 1px solid;
};


.footer_div {
    margin-bottom: 50px;
};

.footer_div h4 {
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
};

.footer_div img {
    width: 70px
}

.copy_right_footer {
    position: fixed;
    color: rgb(0, 103, 132);
    bottom: 0;
    width: 100%;
    background-color: rgb(114, 179, 223) ;
    line-height: 3;
    text-align: center; 

}
